.products {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  border: 1px solid #f1f0f0;

  &::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d25d59;
    border-radius: 8px;
  }

  scrollbar-color: #d25d59 #e6e6e6;
}

.product {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid #f1f0f0; /* разделители */
  align-items: center;

  &__img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    flex: 0 0 auto;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    flex: 0 0 auto;
  }
}
.product:last-child {
  border-right: 0;
}
