.form {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 0;

  &__row {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    gap: 10px;
    padding: 10px;
  }

  .form__row > :first-child {
    text-align: end;
  }

  &__additional {
    background-color: #fff8c7;
    margin: 10px 0;
  }

  &__button {
    background-color: #886feb;
    color: #ffffff;
  }
}
