.form-page {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #dddce3;
  min-height: 100vh;

  &__title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px
  }
}
